$topbar-color: #fcefef;
$error-page-color: #2f4ce6;
$window-body-color: #ebe1d8;
$scrollbar-color: #ecca8d;

$window-action-size: 16px;
$window-border: 2px solid #000;

$font-stack: "IBM Plex Mono", monospace, sans-serif;
